<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{[%-5level] - [%t] - .%c{1}: %msg%n}"/>
    </Console>


	 <!-- Rolling File Appender -->
    <RollingFile name="RollingFile">
      <FileName>logs/pizarra.log</FileName>
      <FilePattern>logs/time-based-logs/%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
      <PatternLayout>
        <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="2" modulate="true" />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
	
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="RollingFile" level="INFO"/>
      <AppenderRef ref="STDOUT" level="INFO"/>
    </Root>
	<Logger name="org.jgroups" level="WARN">
		 <AppenderRef ref="STDOUT" level="WARN"/>
		 <AppenderRef ref="RollingFile" level="ALL"/>
	</Logger>
	<Logger name="org.jgroups.protocols.raft.RAFT"     level="ALL">
		<AppenderRef ref="STDOUT" level="DEBUG"/>
		<AppenderRef ref="RollingFile" level="ALL"/>
	</Logger>
	<Logger name="org.jgroups.protocols.raft.ELECTION" level="ALL">
		<AppenderRef ref="RollingFile" level="ALL"/>
		 <AppenderRef ref="STDOUT" level="DEBUG"/>
	</Logger>
  </Loggers>
</Configuration>